body{
	background: $bgColor;
	color:$txtColor;
	font-size: $fontSiz;
	font-family: 'Roboto Condensed', sans-serif;
	text-align: center;
}

div.vertical-line{
 	@include aligncenter;
	display:flex;
    width: 3px; 
    background-color: black; /* Line color */
}

h1{
	grid-area:header;
	margin-left:3%;
	margin-top: 5%;
	font-size:200%;
	text-align: left;
}
h2{
	padding-top: 9%;
}

nav{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr ;
	grid-template-areas:
	"header nav";
	// overflow: hidden;
 	background-color: white;
  	position: fixed;
  	top: 0px;
  	width: 100%;
	ul{
		grid-area:nav;
		text-align:right;

		li{
			list-style:none;
			display:inline-block;
			padding:3%;
			padding-top: 4%;
			padding-right:10%;
			a{
				@include link;
				
			}
			a:hover {
				color:red;
			}
		}
	}
}
#aboutTxt{
	padding-bottom: 10%;
}

.parallax{
	background-attachment:fixed;
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


#parallax0{
	height: 900px;
	background-image: url("../img/about.jpg");
}

#projects{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: .5fr 1fr 1fr ;
	grid-template-areas:
	"project project"
	"p1 p2"
	"p3 p4";

}
img{
	@include aligncenter;
	margin-top: 2%;
}
img:hover{
	opacity: .5;
}
#projectTitle{
	grid-area:project;
}
#p1{
	grid-area: p1;
}
#p2{
	grid-area: p2;
}
#p3{
	grid-area: p3;
}
#p4{
	grid-area: p4;
}







